body,
html {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-size: cover;
    height: 100vh;
}

.myheader {
    width: 100%;
    background-color: rgb(228, 92, 82);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 67px;
}

.myheader h2 {
    margin: 0;
    color: white;
}

.myheader button {
    height: 35px;
    width: 120px;
    background-color: rgb(226, 201, 201);
    border-radius: 25px;
    border-color: black;
}

.myheader button h1 {
    margin: 0;
    font-size: 18px;
    color: black;
}

.container2 {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 93%;
    width: 100%;
}

.container3 {
    background-color: rgb(228, 92, 82);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    height: 70vh;
    width: 70%;
    margin: auto;
    display: grid;
    /* Cambia de flex a grid */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Ajusta el ancho de las columnas según sea necesario */
    gap: 20px;
    /* Espacio entre las celdas */
    justify-content: space-around;
    align-items: flex-start;
}

.article-container {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    margin: 20px;
    max-height: 300px;
    overflow: hidden;
}

.article-container img {
    max-width: 100%;
    max-height: 150px;
    margin-bottom: 10px;
}

.article-container p {
    margin: 0;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.pagination button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(226, 201, 201);
    border-radius: 5px;
    border-color: black;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}