body,
html {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-size: cover;
    height: 100vh;
}

.myheader {
    width: 100%;
    background-color: rgb(228, 92, 82);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 67px;
}

.myheader h2 {
    margin: 0;
    color: white;
}

.myheader button {
    height: 35px;
    width: 120px;
    background-color: rgb(226, 201, 201);
    border-radius: 25px;
    border-color: black;
}

.myheader button h1 {
    margin: 0;
    font-size: 18px;
    color: black;
}

.container2 {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 93%;
    width: 100%;
}

.container3 {
    background-color: rgb(228, 92, 82);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    height: 70vh;
    width: 70%;
    margin: auto;
}